#container{
  background: #e3e3e3;
  overflow : hidden;
}

#secondary1, #secondary2{
  background: gray;
  text-align : center;
}

#mainContent{
  background: gray;
}

#header, #footer{
  background : #536c70;
}

#col1, #col2{
  background: orange;
}

#secondary1 p,
#secondary2 p,
#mainContent p{
  padding : 1em;
}

#nameText{
  margin-left: 0;
  font-size: 3em;
  color : #0dc6e2;
  font-family: Arial,sans-serif;
}

#welcomeMessage{
  font-size : 2em;
  color : #bdbebf;
}

#logo{
  margin-right: 0;
}

#footerMessage{
  text-align : center;
  color : white;
}

#prior{
  color : white;
}

#titleBar{
  text-align : center;
  color : #0fdd2b;
  font-size : 14pt;
}
#photoMessage{
  padding-top : 0px !important;
  font-size : 10pt !important;
  color: #0b66a0;
}

#matter{
  text-align : center;
  height : 100%;
}

#stuff{
  font-size: 20pt;
}

#inside{
  color : #0b66a0;
}
#player{
  width : 80%;
}
